<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.auth.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListUserController</servlet-name>
        <servlet-class>controller.auth.ListUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>controller.blog.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBlogController</servlet-name>
        <servlet-class>controller.blog.ListBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailController</servlet-name>
        <servlet-class>controller.blog.BlogDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>controller.auth.DeleteBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertBlogController</servlet-name>
        <servlet-class>controller.auth.InsertBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBlogController</servlet-name>
        <servlet-class>controller.auth.UpdateBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCommentController</servlet-name>
        <servlet-class>controller.auth.UpdateCommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCommentController</servlet-name>
        <servlet-class>controller.auth.DeleteCommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetailController</servlet-name>
        <servlet-class>controller.blog.UserDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BanUserController</servlet-name>
        <servlet-class>controller.auth.BanUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverBanController</servlet-name>
        <servlet-class>controller.auth.RemoverBanController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controller.blog.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyBlogListController</servlet-name>
        <servlet-class>controller.blog.MyBlogListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMyBlogController</servlet-name>
        <servlet-class>controller.blog.SearchMyBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.auth.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListUserController</servlet-name>
        <url-pattern>/auth/listUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/signUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBlogController</servlet-name>
        <url-pattern>/blog/listBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailController</servlet-name>
        <url-pattern>/blog/blogDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/auth/blogDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertBlogController</servlet-name>
        <url-pattern>/auth/insertBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBlogController</servlet-name>
        <url-pattern>/auth/blogUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCommentController</servlet-name>
        <url-pattern>/auth/updateComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCommentController</servlet-name>
        <url-pattern>/auth/deleteComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetailController</servlet-name>
        <url-pattern>/blog/userDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BanUserController</servlet-name>
        <url-pattern>/auth/banUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverBanController</servlet-name>
        <url-pattern>/auth/removeBan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/blog/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyBlogListController</servlet-name>
        <url-pattern>/blog/myList</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>authFilter</filter-name>
        <filter-class>filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>authFilter</filter-name>
        <url-pattern>/auth/*</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>SearchMyBlogController</servlet-name>
        <url-pattern>/blog/searchMyBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
